@media screen and (max-width: 1920px) {
  #gallery {
    --cols: 4 !important;
  }
}

@media screen and (max-width: 1600px) {
  #gallery {
    --cols: 3 !important;
  }
}

@media screen and (max-width: 1280px) {
  #gallery {
    --cols: 2 !important;
  }
}

@media screen and (max-width: 480px) {
  #gallery {
    --cols: 1 !important;
  }
}

@media screen and (orientation: portrait) {
  html {
    font-size: 1vmax;
  }

  #gallery {
    grid-auto-rows: 25vmax;
  }
}
