@media (prefers-color-scheme: dark) {
  :root {
    --text-colour: #fff;
    --link-colour: #faf;

    --background-colour: #222;
    --gallery-colour: #444;
    --slide-colour: #666;
    --entries-colour: #444d;
    --ability-colour: #444d;
    --border-colour: #222d;
  }

  .slide {
    --inside-1: var(--type1-foreground);
    --inside-2: var(--type2-foreground);

    --outside-1: var(--type1-background);
    --outside-2: var(--type2-background);
  }

  .name,
  .title {
    --ds-colour: var(--type1-background);
  }

  .name {
    --ds-colour: #0000;
    color: var(--type1-background);
    font-size: calc(2rem + 2px);
  }

  .title {
    color: var(--type1-background);
  }

  .picture {
    --ds2-colour: var(--type1-shadow-dark);
  }
}
