@import url("compatibility.css");
@import url("dark.css");

:root {
  --font-family: Verdana, Geneva, Tahoma, sans-serif;

  --text-colour: #000;
  --link-colour: #a0a;

  --background-colour: #ddd;
  --gallery-colour: #fff;
  --slide-colour: #eee;
  --entries-colour: #fff8;
  --ability-colour: #fff8;
  --border-colour: #8884;
  --header-colour: rgba(122, 122, 122, 0.33);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1.5vmin;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  background-color: var(--background-colour);
  display: flex;
  padding: 30px;
}

div {
  font-family: var(--font-family);
  color: var(--text-colour);
}

div {
  display: flex;
  flex-direction: column;
}

#gallery-border {
  background-color: var(--gallery-colour);
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#gallery {
  --cols: 2;

  width: 100%;
  height: 100%;
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  background-color: var(--gallery-colour);
  border-radius: 15px;
  overflow-y: auto;
  grid-auto-rows: 33vmin;
  direction: ltr;
  padding: 2px;
}

#header {
  position: fixed;
  height: fit-content;
  padding: 2.5px;
  inset: auto 10% 0 10%;
  align-items: center;
  background-color: var(--header-colour);
  border-radius: 10px 10px 0 0;
  font-size: 0.75rem;
  transform-origin: center bottom;
  transition: transform 0.15s ease;
}

#header:hover {
  transform: scale(1.25);
}

.slide {
  /* --gradient-split-distance: 50%; */
  --gradient-split-distance: 0.5px;
  /* --gradient-split-distance: 25%; */

  background-color: var(--slide-colour);
  height: 100%;
  border-radius: 10px;
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slide > * {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  min-width: 0;
}

.name-wrapper {
  grid-row: 1;
  grid-column: 1;
  align-items: center;
  justify-content: center;
}

.name {
  --ds-colour: var(--type1-foreground);
  --ds-width: 1px;

  font-size: 2rem;
  width: fit-content;
  justify-self: center;
  text-align: center;
  color: var(--gallery-colour);
  filter: drop-shadow(calc(var(--ds-width)) 0 0 var(--ds-colour))
    drop-shadow(calc(-1 * var(--ds-width)) 0 0 var(--ds-colour))
    drop-shadow(0 calc(var(--ds-width)) 0 var(--ds-colour))
    drop-shadow(0 calc(-1 * var(--ds-width)) 0 var(--ds-colour));
}

.title {
  font-size: 1rem;
  width: fit-content;
  align-self: center;
  color: var(--type1-foreground);
}

.type-wrapper {
  justify-content: center;
  position: relative;
  flex-direction: row;
  align-items: center;
  grid-row: 1;
  grid-column: 2;
  display: none;
}

.type-wrapper-inner {
  --gradient-split-distance: 2.5%;

  width: 50%;
  height: 75%;
  flex-direction: row;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  border-radius: 5px;
}

.type-wrapper-inner,
.slide {
  --type2-background: var(--type1-background);
  --type2-foreground: var(--type1-foreground);
  --gradient-angle: 112.5deg;
  --type1-percent: calc(50% - var(--gradient-split-distance));
  --type2-percent: calc(50% + var(--gradient-split-distance));
  --inside-1: var(--type1-background);
  --inside-2: var(--type2-background);
  --outside-1: var(--type1-foreground);
  --outside-2: var(--type2-foreground);

  background: linear-gradient(
        var(--gradient-angle),
        var(--inside-1) var(--type1-percent),
        var(--inside-2) var(--type2-percent)
      )
      padding-box,
    linear-gradient(
        var(--gradient-angle),
        var(--outside-1) var(--type1-percent),
        var(--outside-2) var(--type2-percent)
      )
      border-box;
  border: 1px solid transparent;
  background-size: 110% 110%;
  background-position: center;
}

.type-wrapper-inner > * {
  color: var(--type1-foreground);
  justify-content: center;
  align-items: center;
  padding: 2.5px;
  width: 50%;
  height: 100%;
}

.type-wrapper-inner :nth-child(2) {
  color: var(--type2-foreground);
}

.picture-wrapper {
  max-width: 100%;
  max-height: 100%;
  justify-self: center;
  width: fit-content;
  min-height: 0;
  padding: 5px;
  grid-row: 2;
  grid-column: 1;
  justify-content: center;
  padding: 10%;
}

.picture {
  --ds-colour: #fff;
  --ds-width: 1px;
  --ds2-colour: rgba(0, 0, 0, 0.2);
  --ds2-width: 2px;

  max-width: 100%;
  max-height: 100%;
  min-height: 0;
  filter: drop-shadow(calc(var(--ds-width)) 0 0 var(--ds-colour))
    drop-shadow(calc(-1 * var(--ds-width)) 0 0 var(--ds-colour))
    drop-shadow(0 calc(var(--ds-width)) 0 var(--ds-colour))
    drop-shadow(0 calc(-1 * var(--ds-width)) 0 var(--ds-colour))
    drop-shadow(calc(var(--ds2-width)) 0 0 var(--ds2-colour))
    drop-shadow(calc(-1 * var(--ds2-width)) 0 0 var(--ds2-colour))
    drop-shadow(0 calc(var(--ds2-width)) 0 var(--ds2-colour))
    drop-shadow(0 calc(-1 * var(--ds2-width)) 0 var(--ds2-colour));
}

.abilities {
  overflow: auto;
  gap: 5px;
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  height: fit-content;
  min-height: 0;
  height: 100%;
  overflow: visible;
  font-size: 1rem;
}

.abilities > *,
.entries {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.abilities:has(:nth-child(2)) {
  grid-template-columns: repeat(2, 1fr);
  font-size: 1rem;
}

.abilities:has(:nth-child(3)) {
  grid-template-columns: repeat(3, 1fr);
  font-size: 0.58rem;
}

.abilities > * {
  width: 100%;
  justify-content: center;
  flex-direction: row;
  background-color: var(--ability-colour);
  border-radius: 5px;
  padding: 2.5px;
  border: 2px solid var(--border-colour);
  height: 100%;
  text-align: center;
  align-items: center;
  overflow-wrap: anywhere;
}

.abilities > :first-child {
  margin-top: auto;
}

.abilities > :last-child {
  margin-bottom: auto;
}

.entries {
  grid-column: 2;
  overflow: auto;
  width: 100%;
  height: 100%;
  min-height: 0;
  background-color: var(--entries-colour);
  padding: 5px;
  border-radius: 5px;
  gap: 10px;
  border: 2px solid var(--border-colour);
  grid-row: 2;
  /* text-align: justify; */
  font-size: 1rem;
}

a {
  color: var(--link-colour);
}

a:visited {
  color: var(--link-colour);
}
